# This file is generated by `bin/rails agents_api:openapi`.
# Source of truth: Rails routes plus Api::AgentsMcpController::TOOL_DEFINITIONS.
---
openapi: 3.0.3
info:
  title: AI Tinkerers Agents API
  version: 1.0.0
  description: Generated OpenAPI contract for the AI Tinkerers Agents REST API. Request
    schemas are derived from the MCP tool registry when available; REST-only routes
    use conservative JSON object schemas.
servers:
- url: https://aitinkerers.org
  description: Production
- url: http://localhost:3000
  description: Local development
tags:
- name: Ai Assisted Draft Runs
- name: Analytics
- name: Attendance
- name: Auth
- name: Availability
- name: Calendar Availability
- name: Clients
- name: Content
- name: Content Pages
- name: Docs
- name: Dossier
- name: Email Send Jobs
- name: Event Promos
- name: Fund Content
- name: Gallery
- name: Global Hackathons
- name: Hackathon Teams
- name: Hackathons
- name: Jobs
- name: Logos
- name: Mail Logs
- name: Media
- name: Meetups
- name: Message Boards
- name: Newsletters
- name: Photos
- name: Promo Banners
- name: RAG Chunks
- name: RSVPs
- name: Recommendations
- name: Restricted Content
- name: Social Posts
- name: Speaker Promo Banners
- name: Sponsors
- name: Subscribers
- name: Technologies
- name: Tiers
- name: Weblogs
security:
- bearerAuth: []
- apiKeyAuth: []
paths:
  "/api/agents/v1/ai_assisted_draft_runs":
    get:
      operationId: ai_assisted_draft_run_list
      summary: Ai assisted draft run list
      description: List visible AI Page Creator runs for the caller. City managers
        can inspect their own runs and runs for visible city chapters; index owners
        can inspect all runs. Supports city, weblog, state, stage, requester, and
        recency filters.
      tags:
      - Ai Assisted Draft Runs
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: ai_assisted_draft_run_list
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: ai_assisted_draft_run_list
      parameters:
      - name: city
        in: query
        required: false
        schema:
          type: string
        description: Optional city name filter, for example Montreal.
      - name: weblog_token
        in: query
        required: false
        schema:
          type: string
        description: Optional city weblog token filter.
      - name: state
        in: query
        required: false
        schema:
          type: string
          enum:
          - pending
          - queued
          - running
          - succeeded
          - failed
          - cancelled
          - lost
        description: Optional run state filter.
      - name: stage
        in: query
        required: false
        schema:
          type: string
        description: Optional current stage filter.
      - name: client_email
        in: query
        required: false
        schema:
          type: string
        description: Optional requester email filter. Only useful for callers with
          broad visibility.
      - name: since
        in: query
        required: false
        schema:
          type: string
        description: Optional recency filter such as 24h, 7d, or an ISO timestamp.
      - name: mine
        in: query
        required: false
        schema:
          type: boolean
        description: When true, only return runs requested by the current API key
          owner.
      - name: include_content_summary
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Include a short generated-page summary when a run has produced
          a page. Defaults true.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: Max results (default 25, max 100).
  "/api/agents/v1/ai_assisted_draft_runs/recent_pages":
    get:
      operationId: ai_assisted_draft_recent_pages
      summary: Ai assisted draft recent pages
      description: List recently generated pages from visible successful AI Page Creator
        runs, including page title, URL, summary, and originating run token.
      tags:
      - Ai Assisted Draft Runs
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: ai_assisted_draft_recent_pages
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: ai_assisted_draft_recent_pages
      parameters:
      - name: city
        in: query
        required: false
        schema:
          type: string
        description: Optional city name filter, for example Montreal.
      - name: weblog_token
        in: query
        required: false
        schema:
          type: string
        description: Optional city weblog token filter.
      - name: since
        in: query
        required: false
        schema:
          type: string
        description: Optional recency filter such as 24h, 7d, or an ISO timestamp.
      - name: include_content_summary
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Include generated-page summaries. Defaults true.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: Max results (default 25, max 100).
  "/api/agents/v1/ai_assisted_draft_runs/{token}":
    get:
      operationId: ai_assisted_draft_run_get
      summary: Ai assisted draft run get
      description: Get one visible AI Page Creator run by run token, including organizer-safe
        status, retry guidance, and generated page summary when available.
      tags:
      - Ai Assisted Draft Runs
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: ai_assisted_draft_run_get
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: ai_assisted_draft_run_get
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: include_content_summary
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Include a short generated-page summary when available. Defaults
          true.
  "/api/agents/v1/ai_assisted_draft_runs/{token}/retry":
    post:
      operationId: ai_assisted_draft_run_retry
      summary: Ai assisted draft run retry
      description: Retry a failed or lost AI Page Creator run visible to the caller.
        Allowed for the requester, city owner, index owner, or admin.
      tags:
      - Ai Assisted Draft Runs
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: ai_assisted_draft_run_retry
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: ai_assisted_draft_run_retry
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: AI Page Creator run token.
              required:
              - token
  "/api/agents/v1/analytics/email/campaign_performance":
    get:
      operationId: email_campaign_performance_get
      summary: Email campaign performance get
      description: Get email campaign performance analytics. Supports dashboard-style
        trend/summary payloads and paginated campaign leaderboard queries with filters,
        sorting, and scope selectors.
      tags:
      - Analytics
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: email_campaign_performance_get
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: email_campaign_performance_get
      parameters:
      - name: weblog_token
        in: query
        required: false
        schema:
          type: string
        description: Scope to a specific weblog.
      - name: weblog_tokens
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Scope to multiple weblogs.
      - name: content_page_token
        in: query
        required: false
        schema:
          type: string
        description: Scope to a specific content page.
      - name: meetup_token
        in: query
        required: false
        schema:
          type: string
        description: Scope to a specific meetup.
      - name: series_token
        in: query
        required: false
        schema:
          type: string
        description: Scope to a specific track within a weblog.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Max campaign rows to return (default 50, max 100).
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Campaign row offset for pagination (default 0, max 10000).
      - name: group_by
        in: query
        required: false
        schema:
          type: string
          enum:
          - campaign
          - day
          - week
          default: campaign
        description: Aggregation level.
      - name: campaign_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - meetup
          - content_page
          - newsletter
          default: all
        description: Filter by campaign type.
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - sent_at
          - campaign_label
          - sends
          - delivered
          - opens
          - clicks
          - bounces
          - unsubscribes
          - delivery_rate_pct
          - open_rate_pct
          - click_rate_pct
          - click_to_open_rate_pct
          - bounce_rate_pct
          - unsubscribe_rate_pct
          default: sent_at
        description: Campaign row sort field.
      - name: sort_dir
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Campaign row sort direction.
      - name: min_sends
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Only return campaign rows with at least this many sends.
      - name: include_campaigns
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Include paginated campaign rows.
      - name: include_trends
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Include trend buckets for dashboard/chart use.
      - name: include_summary
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Include summary totals and weighted rates.
      - name: date_from
        in: query
        required: false
        schema:
          type: string
        description: Start date (YYYY-MM-DD). Max 730 days range.
      - name: date_to
        in: query
        required: false
        schema:
          type: string
        description: End date (YYYY-MM-DD).
  "/api/agents/v1/analytics/email/deliverability_health":
    get:
      operationId: email_deliverability_health_get
      summary: Email deliverability health get
      description: Get email deliverability health metrics including bounce rates,
        complaint rates, and delivery success rates.
      tags:
      - Analytics
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: email_deliverability_health_get
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: email_deliverability_health_get
      parameters:
      - name: date_from
        in: query
        required: false
        schema:
          type: string
        description: Start date (YYYY-MM-DD).
      - name: date_to
        in: query
        required: false
        schema:
          type: string
        description: End date (YYYY-MM-DD).
  "/api/agents/v1/analytics/email/fatigue_risk":
    get:
      operationId: email_fatigue_risk_get
      summary: Email fatigue risk get
      description: Get email fatigue risk analysis showing subscribers at risk of
        disengagement due to email frequency.
      tags:
      - Analytics
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: email_fatigue_risk_get
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: email_fatigue_risk_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: Max results.
      - name: date_from
        in: query
        required: false
        schema:
          type: string
        description: Start date (YYYY-MM-DD).
      - name: date_to
        in: query
        required: false
        schema:
          type: string
        description: End date (YYYY-MM-DD).
  "/api/agents/v1/analytics/email/link_clicks":
    get:
      operationId: email_link_clicks_get
      summary: Email link clicks get
      description: Get tracked email link click breakdowns for an authorized campaign
        scope. Groups clicks by destination URL and link position, includes inferred
        anchor text when available, and reports untracked section-anchor links found
        in representative email bodies.
      tags:
      - Analytics
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: email_link_clicks_get
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: email_link_clicks_get
      parameters:
      - name: weblog_token
        in: query
        required: false
        schema:
          type: string
        description: Scope to a specific weblog.
      - name: weblog_tokens
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Scope to multiple weblogs.
      - name: content_page_token
        in: query
        required: false
        schema:
          type: string
        description: Scope to a specific content page.
      - name: content_page_url
        in: query
        required: false
        schema:
          type: string
        description: Resolve and scope to a content page by public URL, such as https://city.example/p/my-event.
      - name: meetup_token
        in: query
        required: false
        schema:
          type: string
        description: Scope to a specific meetup.
      - name: series_token
        in: query
        required: false
        schema:
          type: string
        description: Scope to a specific track within a weblog.
      - name: campaign_key
        in: query
        required: false
        schema:
          type: string
        description: Optional campaign key returned by campaign_performance, such
          as send_job:6628.
      - name: campaign_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - meetup
          - content_page
          - newsletter
        description: 'Optional campaign type filter: all, meetup, content_page, or
          newsletter.'
      - name: destination_url
        in: query
        required: false
        schema:
          type: string
        description: Optional clicked destination URL filter.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: Max link rows to return (default 25, max 100).
      - name: date_from
        in: query
        required: false
        schema:
          type: string
        description: Start date (YYYY-MM-DD). Uses the mail sent date window.
      - name: date_to
        in: query
        required: false
        schema:
          type: string
        description: End date (YYYY-MM-DD). Uses the mail sent date window.
  "/api/agents/v1/attendance_history":
    get:
      operationId: attendance_history_get
      summary: Attendance history get
      description: Get attendance history for a person across AI Tinkerers events.
        Shows which meetups they attended and when.
      tags:
      - Attendance
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: attendance_history_get
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: attendance_history_get
      parameters:
      - name: client_ref
        in: query
        required: true
        schema:
          type: string
        description: Client token, email, or name.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Max results (default 50, max 100).
      - name: ai_tinkerers_network_only
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Only include AI Tinkerers network events (default false).
  "/api/agents/v1/auth/validate":
    get:
      operationId: auth_validate
      summary: Auth validate
      description: Validate the current Agent API key and return the authenticated
        owner plus derived roles and enabled API groups.
      tags:
      - Auth
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: auth_validate
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: auth_validate
  "/api/agents/v1/availability/calendar/create_event":
    post:
      operationId: availability_calendar_create_event
      summary: Availability calendar create event
      description: 'Create an event on a person''s Google Calendar (requires the person
        to have connected Google Calendar with write access at /profile/calendar-availability).
        IMPORTANT: After calling this tool you MUST call ait_availability_verify_booking
        to confirm the calendar is actually blocked before telling anyone the meeting
        is scheduled. Never claim a meeting was booked without the verify_booking
        confirmation.'
      tags:
      - Availability
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: availability_calendar_create_event
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: availability_calendar_create_event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                people:
                  type: array
                  items:
                    type: string
                  description: Whose calendar to write to (e.g. ["jake"] or ["joe"]).
                    Required.
                emails:
                  type: array
                  items:
                    type: string
                  description: Email-based filter. Alternative to people.
                summary:
                  type: string
                  description: Event title.
                starts_at:
                  type: string
                  description: ISO 8601 start time (e.g. 2026-06-17T14:00:00-07:00).
                ends_at:
                  type: string
                  description: ISO 8601 end time.
                attendees:
                  type: array
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                      display_name:
                        type: string
                    required:
                    - email
                  description: List of attendees to invite. The calendar owner is
                    always added automatically.
                description:
                  type: string
                  description: Optional event body/description.
                location:
                  type: string
                  description: Optional location string.
                all_day:
                  type: boolean
                  description: Set true for all-day events (default false).
                  default: false
                timezone:
                  type: string
                  description: IANA timezone for interpreting starts_at/ends_at if
                    not already offset-qualified.
              required:
              - summary
              - starts_at
              - ends_at
  "/api/agents/v1/availability/find_slots":
    get:
      operationId: availability_find_slots
      summary: Availability find slots
      description: Find candidate meeting slots across selected shared calendar feeds
        using duration, working hours, minimum notice, buffer, and date range. Returns
        privacy-safe slot recommendations with inferred city-level location for each
        selected person, a 30-minute location_timeline with exact-interval flight/location
        samples, plus meeting_preferences text; honor those preferences before offering
        or booking slots. For travel, use the sample overlapping each candidate slot
        so mid-day flight destination changes control the displayed timezone and acceptable
        local hours.
      tags:
      - Availability
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: availability_find_slots
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: availability_find_slots
      parameters:
      - name: people
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Optional person filters such as joe, jake, diego, full name,
          email, or client token. Omit to use all visible feeds.
      - name: feeds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Optional feed filters by feed id, label, or source email.
      - name: start_at
        in: query
        required: false
        schema:
          type: string
        description: Search start timestamp or date. Defaults to today.
      - name: end_at
        in: query
        required: false
        schema:
          type: string
        description: Search end timestamp or date. Capped at 31 days after start_at.
      - name: duration_minutes
        in: query
        required: false
        schema:
          type: integer
          default: 30
        description: Meeting duration in minutes, default 30, min 15, max 240.
      - name: interval_minutes
        in: query
        required: false
        schema:
          type: integer
          default: 30
        description: 'Candidate slot step size: 15, 30, 45, or 60.'
      - name: minimum_notice_minutes
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Minimum lead time before a slot can start.
      - name: buffer_minutes
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Buffer applied before and after existing busy blocks.
      - name: timezone
        in: query
        required: false
        schema:
          type: string
        description: IANA timezone, default America/Los_Angeles.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 8
        description: Maximum slots to return, default 8, max 50.
  "/api/agents/v1/availability/people/list":
    get:
      operationId: availability_people_list
      summary: Availability people list
      description: List people whose shared calendar availability is visible to the
        caller, including connected feed labels, health, freshness, inferred current
        city-level location, a 30-minute location_timeline with exact-interval location/flight
        samples, and each person's meeting_preferences text for Ashley scheduling
        constraints. Does not return event details or iCal URLs.
      tags:
      - Availability
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: availability_people_list
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: availability_people_list
  "/api/agents/v1/availability/query":
    get:
      operationId: availability_query
      summary: Availability query
      description: Query shared calendar free/busy windows for selected people or
        calendar feeds. Returns only busy windows, open slots, feed freshness, privacy-safe
        labels, actual event city locality when parseable, inferred city-level location
        context from flights/physical meetings/defaults, a 30-minute location_timeline
        with city/timezone and flight/in-air samples, and each selected person's meeting_preferences
        text for Ashley scheduling constraints. For travel, use the location_timeline
        sample overlapping the candidate slot as the primary timezone/location; it
        can change mid-day after a flight.
      tags:
      - Availability
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: availability_query
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: availability_query
      parameters:
      - name: people
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Optional person filters such as joe, jake, diego, full name,
          email, or client token. Omit to query all visible feeds.
      - name: feeds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Optional feed filters by feed id, label, or source email.
      - name: emails
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Optional email filters.
      - name: start_at
        in: query
        required: false
        schema:
          type: string
        description: Window start timestamp or date. Defaults to today in the requested
          timezone.
      - name: end_at
        in: query
        required: false
        schema:
          type: string
        description: Window end timestamp or date. Capped at 31 days after start_at.
      - name: timezone
        in: query
        required: false
        schema:
          type: string
        description: IANA timezone, default America/Los_Angeles.
      - name: slot_minutes
        in: query
        required: false
        schema:
          type: integer
          default: 30
        description: 'Open slot size: 15, 30, 45, or 60. Defaults to 30.'
  "/api/agents/v1/availability/sources/list":
    get:
      operationId: availability_sources_list
      summary: Availability sources list
      description: List visible calendar feed sources and sync health. Feed URLs are
        encrypted and never returned.
      tags:
      - Availability
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: availability_sources_list
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: availability_sources_list
  "/api/agents/v1/availability/verify_booking":
    get:
      operationId: availability_verify_booking
      summary: Availability verify booking
      description: Verify that a specific time window is now blocked on a person's
        calendar by triggering a fresh sync of their availability feed and checking
        for a busy block. Use this immediately after creating a calendar event to
        confirm the booking is real before telling the requester it was scheduled.
        Returns verified:true only when the sync succeeded AND a busy block covers
        the requested window. A person filter (people or emails) is required.
      tags:
      - Availability
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: availability_verify_booking
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: availability_verify_booking
      parameters:
      - name: people
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Person filters such as joe, jake, diego, email, or client token.
          Required.
      - name: emails
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Email filters. Alternative to people.
      - name: feeds
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Feed filters by feed id or label.
      - name: starts_at
        in: query
        required: true
        schema:
          type: string
        description: ISO 8601 start of the meeting window to verify (e.g. 2026-06-17T14:00:00-07:00).
      - name: ends_at
        in: query
        required: true
        schema:
          type: string
        description: ISO 8601 end of the meeting window to verify.
      - name: timezone
        in: query
        required: false
        schema:
          type: string
        description: IANA timezone for displaying results, default America/Los_Angeles.
  "/api/agents/v1/calendar_availability/query":
    get:
      operationId: calendar_availability_query
      summary: Calendar availability query
      description: Query shared team calendar free/busy availability from connected
        private Google Calendar iCal feeds. This aliases availability/query and returns
        busy windows, candidate open slots, inferred_locations, busy-block location_context,
        and the 30-minute location_timeline with exact-interval location/flight samples;
        event titles, full meeting locations, attendees, and descriptions are not
        stored or returned.
      tags:
      - Calendar Availability
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: calendar_availability_query
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: calendar_availability_query
      parameters:
      - name: emails
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Optional person email filters. Omit to query every connected
          shared calendar.
      - name: client_tokens
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Optional person client tokens.
      - name: start_at
        in: query
        required: false
        schema:
          type: string
        description: Window start timestamp or date. Defaults to today.
      - name: end_at
        in: query
        required: false
        schema:
          type: string
        description: Window end timestamp or date. Capped at 31 days after start_at.
      - name: slot_minutes
        in: query
        required: false
        schema:
          type: integer
          default: 30
        description: 'Open slot size: 15, 30, 45, or 60. Defaults to 30.'
  "/api/agents/v1/clients/get":
    get:
      operationId: client_get
      summary: Client get
      description: Get detailed profile for a person/client by token, email, or name.
        Returns contact info, subscriber tags, and RSVP activity summary.
      tags:
      - Clients
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: client_get
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: client_get
      parameters:
      - name: client_ref
        in: query
        required: true
        schema:
          type: string
        description: Client token, email address, or full name to look up.
  "/api/agents/v1/clients/message_center_scorecard":
    get:
      operationId: client_message_center_scorecard
      summary: Client message center scorecard
      description: 'Per-client 7-day (or custom window) rollup: posts, reactions received,
        mentions, and distinct boards active. Accepts batch of client_tokens.'
      tags:
      - Clients
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: client_message_center_scorecard
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: client_message_center_scorecard
      parameters:
      - name: client_tokens
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        description: Client tokens to summarize (required, max 100).
      - name: window_days
        in: query
        required: false
        schema:
          type: integer
          default: 7
        description: Rolling window in days (default 7, max 90).
  "/api/agents/v1/clients/phone_update":
    post:
      operationId: client_phone_update
      summary: Client phone update
      description: Update a person/client contact phone number in the same Client
        fields used by profile, VIP dinner, and speaker phone capture. Stores normalized
        E.164 in clients.phone_number and national digits in clients.label_phone_number;
        does not create Phone records.
      tags:
      - Clients
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: client_phone_update
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: client_phone_update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_ref:
                  type: string
                  description: Client token, email address, or full name to update.
                phone_number_e164:
                  type: string
                  description: Already-normalized E.164 phone number, for example
                    +14155551234.
                raw_phone_number:
                  type: string
                  description: Raw phone number as provided by the person, used when
                    phone_number_e164 is not available.
                country_code:
                  type: string
                  description: ISO country code for parsing raw_phone_number. Defaults
                    to US.
                  default: US
                create_if_missing:
                  type: boolean
                  description: If true and client_ref/email is an email address with
                    no Client record, create a minimal Client before storing the phone
                    number. Never creates from name-only refs.
                  default: false
                source:
                  type: string
                  description: Short source label such as ashley_email_ea_v2_in_person_meeting.
                note:
                  type: string
                  description: Optional audit note explaining where the number came
                    from.
              required:
              - client_ref
  "/api/agents/v1/clients/profile_search":
    get:
      operationId: client_profile_search
      summary: Client profile search
      description: Search people by structured /profile networking answers. Supports
        exact filters for employment, help-with, looking-for, intro/contact preferences,
        role, scoped keyword search over profile text fields, and facets. Results
        are restricted to the API key owner visible client scope.
      tags:
      - Clients
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: client_profile_search
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: client_profile_search
      parameters:
      - name: query
        in: query
        required: false
        schema:
          type: string
        description: Optional keyword query over selected profile text fields.
      - name: intent
        in: query
        required: false
        schema:
          type: string
        description: 'Optional preset: recruiting, hiring, sponsor_matching, warm_intros.'
      - name: text_fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Profile text fields to search. Options: bio, skills, interests,
          investing, startup, projects.'
      - name: facets
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: 'Facet counts to return. Options: employment, help_with, looking_for,
          intro_preference, contact_preference, role, city.'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: Max results (default 25, max 200).
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Number of results to skip for pagination (default 0).
  "/api/agents/v1/clients/search":
    get:
      operationId: client_search
      summary: Client search
      description: Search for people/clients by name, email, or company. Supports
        filtering by city, tag, presentation history, and date range. Returns matching
        profiles. If results need disambiguation, the response will indicate that.
      tags:
      - Clients
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: client_search
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: client_search
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: 'Search term: name, email, or company.'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
        description: Max results (default 25, max 200).
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Number of results to skip for pagination (default 0).
      - name: city
        in: query
        required: false
        schema:
          type: string
        description: Filter by city name.
      - name: tag
        in: query
        required: false
        schema:
          type: string
        description: Filter by subscriber tag.
      - name: has_presented
        in: query
        required: false
        schema:
          type: boolean
        description: If true, only return people who have presented/demoed.
      - name: date_from
        in: query
        required: false
        schema:
          type: string
        description: Start date filter (YYYY-MM-DD).
      - name: date_to
        in: query
        required: false
        schema:
          type: string
        description: End date filter (YYYY-MM-DD).
  "/api/agents/v1/clients/tag_update":
    post:
      operationId: clients_tag_update
      summary: Clients tag update
      description: Generated from the Rails route api/agents#client_tag_update. No
        MCP input schema is currently registered for this route, so the request schema
        is intentionally permissive.
      tags:
      - Clients
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: client_tag_update
      x-generated-from: Rails routes
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  "/api/agents/v1/content/brand_scrub/analyze":
    post:
      operationId: content_brand_scrub_analyze
      summary: Content brand scrub analyze
      description: Analyze text content for brand consistency with AI Tinkerers voice
        and style guidelines. Returns suggestions for improvement.
      tags:
      - Content
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_brand_scrub_analyze
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_brand_scrub_analyze
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Text content to analyze (max 12000 chars).
                channel:
                  type: string
                  description: Communication channel (e.g. email, social, blog).
                tone:
                  type: string
                  description: Desired tone.
                target_audience:
                  type: string
                  description: Target audience description.
              required:
              - text
  "/api/agents/v1/content_pages/ai_assisted_draft/create":
    post:
      operationId: content_page_ai_assisted_draft_create
      summary: Content page ai assisted draft create
      description: Queue an AI-assisted draft page for a city weblog. Returns immediately
        with the Sidekiq job id. Guarded to one accepted AI-assisted page job every
        five minutes and no concurrent active AI-assisted page jobs.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_ai_assisted_draft_create
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_ai_assisted_draft_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                weblog_token:
                  type: string
                  description: City weblog token that should receive the generated
                    draft.
                instructions:
                  type: string
                  description: Prompt/instructions for the AI-assisted page creator.
                type:
                  type: string
                  description: Optional draft type hint.
                  enum:
                  - event
                  - content
              required:
              - weblog_token
              - instructions
  "/api/agents/v1/content_pages/body/publish":
    post:
      operationId: content_pages_body_publish
      summary: Content pages body publish
      description: Generated from the Rails route api/agents#content_page_body_publish.
        No MCP input schema is currently registered for this route, so the request
        schema is intentionally permissive.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_body_publish
      x-generated-from: Rails routes
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  "/api/agents/v1/content_pages/body/revert":
    post:
      operationId: content_pages_body_revert
      summary: Content pages body revert
      description: Generated from the Rails route api/agents#content_page_body_revert.
        No MCP input schema is currently registered for this route, so the request
        schema is intentionally permissive.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_body_revert
      x-generated-from: Rails routes
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  "/api/agents/v1/content_pages/body/update":
    post:
      operationId: content_pages_body_update
      summary: Content pages body update
      description: Generated from the Rails route api/agents#content_page_body_update.
        No MCP input schema is currently registered for this route, so the request
        schema is intentionally permissive.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_body_update
      x-generated-from: Rails routes
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  "/api/agents/v1/content_pages/comments/create":
    post:
      operationId: content_page_comment_create
      summary: Content page comment create
      description: Create a private editorial comment on a Post-Training guest post.
        Use parent_note_token to reply within an existing thread.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_comment_create
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_comment_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content_page_token:
                  type: string
                  description: Content page token.
                slug:
                  type: string
                  description: Optional fallback slug identifier.
                content:
                  type: string
                  description: Comment body text (max 2000 chars).
                parent_note_token:
                  type: string
                  description: Optional parent note token when replying.
              required:
              - content
  "/api/agents/v1/content_pages/comments/delete":
    post:
      operationId: content_page_comment_delete
      summary: Content page comment delete
      description: Soft-delete an editorial comment on a Post-Training guest post.
        Caller must be the author or an admin. Preserves history; the comment is marked
        deleted, not destroyed.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_comment_delete
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_comment_delete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content_page_token:
                  type: string
                  description: Content page token.
                slug:
                  type: string
                  description: Optional fallback slug identifier.
                note_token:
                  type: string
                  description: Token of the comment to delete (required).
              required:
              - note_token
  "/api/agents/v1/content_pages/comments/list":
    get:
      operationId: content_page_comments_list
      summary: Content page comments list
      description: List the private editorial comment thread for a Post-Training guest
        post, including replies.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_comments_list
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_comments_list
      parameters:
      - name: content_page_token
        in: query
        required: false
        schema:
          type: string
        description: Content page token.
      - name: slug
        in: query
        required: false
        schema:
          type: string
        description: Optional fallback slug identifier.
  "/api/agents/v1/content_pages/comments/reopen":
    post:
      operationId: content_page_comment_reopen
      summary: Content page comment reopen
      description: Reopen a resolved private editorial comment thread on a Post-Training
        guest post. Passing a reply note token reopens the root thread comment.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_comment_reopen
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_comment_reopen
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content_page_token:
                  type: string
                  description: Content page token.
                slug:
                  type: string
                  description: Optional fallback slug identifier.
                note_token:
                  type: string
                  description: Token of the comment or reply to reopen.
              required:
              - note_token
  "/api/agents/v1/content_pages/comments/resolve":
    post:
      operationId: content_page_comment_resolve
      summary: Content page comment resolve
      description: Resolve a private editorial comment thread on a Post-Training guest
        post. Passing a reply note token resolves the root thread comment.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_comment_resolve
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_comment_resolve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content_page_token:
                  type: string
                  description: Content page token.
                slug:
                  type: string
                  description: Optional fallback slug identifier.
                note_token:
                  type: string
                  description: Token of the comment or reply to resolve.
              required:
              - note_token
  "/api/agents/v1/content_pages/comments/update":
    post:
      operationId: content_page_comment_update
      summary: Content page comment update
      description: Edit the content of an existing editorial comment on a Post-Training
        guest post. Caller must be the author of the comment. Sets edited_at.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_comment_update
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_comment_update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content_page_token:
                  type: string
                  description: Content page token.
                slug:
                  type: string
                  description: Optional fallback slug identifier.
                note_token:
                  type: string
                  description: Token of the comment to edit (required).
                content:
                  type: string
                  description: Replacement comment body text (max 2000 chars).
              required:
              - note_token
              - content
  "/api/agents/v1/content_pages/editorial/list":
    get:
      operationId: editorial_submissions_list
      summary: Editorial submissions list
      description: List Post-Training guest-post submissions in the editorial workflow.
        Supports filtering by editorial status, series, author, publication date,
        and whether to include already-published items.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: editorial_submissions_list
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: editorial_submissions_list
      parameters:
      - name: editorial_status
        in: query
        required: false
        schema:
          type: string
          enum:
          - draft
          - ready_for_review
          - editing_complete
        description: Filter by editorial status.
      - name: author_query
        in: query
        required: false
        schema:
          type: string
        description: Filter by author name or email.
      - name: series_token
        in: query
        required: false
        schema:
          type: string
        description: Optional series token filter.
      - name: include_published
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include already-published historical posts (default false).
      - name: date_from
        in: query
        required: false
        schema:
          type: string
        description: Earliest publication date (YYYY-MM-DD).
      - name: date_to
        in: query
        required: false
        schema:
          type: string
        description: Latest publication date (YYYY-MM-DD).
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Max results (default 50, max 100).
  "/api/agents/v1/content_pages/editorial_status/update":
    post:
      operationId: content_page_editorial_status_update
      summary: Content page editorial status update
      description: Update the editorial status of a Post-Training guest post. Reuses
        the existing status-change workflow, including notifications and event logging.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_editorial_status_update
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_editorial_status_update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content_page_token:
                  type: string
                  description: Content page token.
                slug:
                  type: string
                  description: Optional fallback slug identifier.
                status:
                  type: string
                  description: New editorial status.
                  enum:
                  - draft
                  - ready_for_review
                  - editing_complete
                note:
                  type: string
                  description: Optional note to include with the status change.
              required:
              - status
  "/api/agents/v1/content_pages/get":
    get:
      operationId: content_page_get
      summary: Content page get
      description: Get a full visible content page, including body markdown, plain
        text, author metadata, editorial status, and change metadata. Use after weblog_universal_search
        returns a content_page token.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_get
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_get
      parameters:
      - name: content_page_token
        in: query
        required: false
        schema:
          type: string
        description: Content page token returned from editorial_submissions_list.
      - name: slug
        in: query
        required: false
        schema:
          type: string
        description: Optional fallback slug identifier within visible guest-post scope.
  "/api/agents/v1/content_pages/metrics/get":
    get:
      operationId: content_page_metrics_get
      summary: Content page metrics get
      description: Get email performance metrics for a Post-Training guest post, including
        sends, opens, and clicks.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_metrics_get
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_metrics_get
      parameters:
      - name: content_page_token
        in: query
        required: false
        schema:
          type: string
        description: Content page token.
      - name: slug
        in: query
        required: false
        schema:
          type: string
        description: Optional fallback slug identifier.
  "/api/agents/v1/content_pages/og_image/update":
    post:
      operationId: content_page_og_image_update
      summary: Content page og image update
      description: Set or clear the Social Preview Image for a content page. External
        image URLs are imported to AI Tinkerers image storage; existing AI Tinkerers
        image URLs are reused.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_og_image_update
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_og_image_update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content_page_token:
                  type: string
                  description: Content page token.
                image_url:
                  type: string
                  description: Absolute http(s) image URL to use as the custom social
                    preview image.
                og_image_url:
                  type: string
                  description: Alias for image_url.
                clear:
                  type: boolean
                  description: Clear the custom image and return to auto-detect.
                mode:
                  type: string
                  description: Use auto or clear to return to auto-detect.
                  enum:
                  - custom
                  - auto
                  - clear
              required:
              - content_page_token
  "/api/agents/v1/content_pages/public_comments/list":
    get:
      operationId: content_page_public_comments_list
      summary: Content page public comments list
      description: List reader-visible public comments on a Post-Training guest post,
        including replies and comment-state metadata.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_public_comments_list
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_public_comments_list
      parameters:
      - name: content_page_token
        in: query
        required: false
        schema:
          type: string
        description: Content page token.
      - name: slug
        in: query
        required: false
        schema:
          type: string
        description: Optional fallback slug identifier.
  "/api/agents/v1/content_pages/slug/update":
    post:
      operationId: content_pages_slug_update
      summary: Content pages slug update
      description: Generated from the Rails route api/agents#content_page_slug_update.
        No MCP input schema is currently registered for this route, so the request
        schema is intentionally permissive.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_slug_update
      x-generated-from: Rails routes
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
  "/api/agents/v1/content_pages/theme/update":
    post:
      operationId: content_page_theme_update
      summary: Content page theme update
      description: Update or clear a ContentPage theme through the clean Agents API.
        This is the API replacement for browser-only /content_page/:token/update_theme
        and uses API-key auth, scopes, audit logging, and theme visibility rules.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_theme_update
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_theme_update
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                content_page_token:
                  type: string
                  description: Content page token.
                content_page_id:
                  type: string
                  description: Optional numeric content page id.
                slug:
                  type: string
                  description: Optional fallback slug identifier.
                theme:
                  type: string
                  description: Theme key to apply. Blank value clears to default.
                theme_key:
                  type: string
                  description: Alias for theme.
                clear:
                  type: boolean
                  description: Set true to clear the custom theme and use the default
                    theme.
                  default: false
  "/api/agents/v1/content_pages/themes/list":
    get:
      operationId: content_page_themes_list
      summary: Content page themes list
      description: List ContentPage themes available to the authenticated caller.
        Optionally include a content page ref to return the page current theme alongside
        the available themes.
      tags:
      - Content Pages
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: content_page_themes_list
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: content_page_themes_list
      parameters:
      - name: content_page_token
        in: query
        required: false
        schema:
          type: string
        description: Optional content page token.
      - name: content_page_id
        in: query
        required: false
        schema:
          type: string
        description: Optional numeric content page id.
      - name: slug
        in: query
        required: false
        schema:
          type: string
        description: Optional fallback slug identifier.
  "/api/agents/v1/docs/chat":
    post:
      operationId: docs_chat
      summary: Docs chat
      description: Ask a question about AI Tinkerers documentation using RAG-powered
        chat. Supports conversation history for follow-up questions. Can focus on
        all docs or a specific document.
      tags:
      - Docs
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: docs_chat
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: docs_chat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  description: Your question about AI Tinkerers documentation.
                context_mode:
                  type: string
                  description: Search scope.
                  enum:
                  - documentation
                  - current_document
                  default: documentation
                doc_path:
                  type: string
                  description: Specific doc path (required if context_mode is current_document).
                section:
                  type: string
                  description: Focus on a specific section.
                chat_history:
                  type: array
                  items:
                    type: object
                    properties:
                      user:
                        type: string
                      assistant:
                        type: string
                  description: Previous conversation turns for context (max 12).
              required:
              - question
  "/api/agents/v1/docs/comments/create":
    post:
      operationId: docs_comment_create
      summary: Docs comment create
      description: Create a comment on a documentation file. Use parent_note_token
        to reply within an existing thread. Top-level comments may include anchor
        metadata for inline selected text.
      tags:
      - Docs
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: docs_comment_create
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: docs_comment_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                doc_path:
                  type: string
                  description: Path to the document (e.g. "docs/aitfund/q2-2026-draft-v2.html"
                    or "aitfund/q2-2026-draft-v2.html").
                content:
                  type: string
                  description: Comment body text. Max 2000 characters.
                parent_note_token:
                  type: string
                  description: Optional parent note token when replying.
                anchor:
                  type: object
                  description: Optional inline anchor metadata for top-level comments.
                    Include selected_text at minimum.
                  properties:
                    selected_text:
                      type: string
                      description: Exact selected text being commented on.
                    prefix:
                      type: string
                      description: Optional text before the selection.
                    suffix:
                      type: string
                      description: Optional text after the selection.
                    anchor_version:
                      type: integer
                      description: Anchor schema version.
                      default: 1
              required:
              - doc_path
              - content
  "/api/agents/v1/docs/comments/delete":
    post:
      operationId: docs_comment_delete
      summary: Docs comment delete
      description: Soft-delete a caller-authored document comment.
      tags:
      - Docs
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: docs_comment_delete
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: docs_comment_delete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                doc_path:
                  type: string
                  description: Path to the document.
                note_token:
                  type: string
                  description: Token of the comment to delete.
              required:
              - doc_path
              - note_token
  "/api/agents/v1/docs/comments/list":
    get:
      operationId: docs_comments_list
      summary: Docs comments list
      description: List comments on a documentation file by doc_path. Includes inline
        comment anchor metadata when a comment is attached to selected document text.
      tags:
      - Docs
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: docs_comments_list
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: docs_comments_list
      parameters:
      - name: doc_path
        in: query
        required: true
        schema:
          type: string
        description: Path to the document (e.g. "docs/aitfund/q2-2026-draft-v2.html"
          or "aitfund/q2-2026-draft-v2.html").
      - name: author_client_token
        in: query
        required: false
        schema:
          type: string
        description: 'Optional: only return comments authored by this client token.'
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: Alias for author_client_token.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
        description: Max comments to return (default 100, max 200).
  "/api/agents/v1/docs/comments/reopen":
    post:
      operationId: docs_comment_reopen
      summary: Docs comment reopen
      description: Reopen a resolved document comment thread. Passing a reply note
        token reopens the root thread comment.
      tags:
      - Docs
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: docs_comment_reopen
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: docs_comment_reopen
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                doc_path:
                  type: string
                  description: Path to the document.
                note_token:
                  type: string
                  description: Token of the comment or reply to reopen.
              required:
              - doc_path
              - note_token
  "/api/agents/v1/docs/comments/resolve":
    post:
      operationId: docs_comment_resolve
      summary: Docs comment resolve
      description: Resolve a document comment thread. Passing a reply note token resolves
        the root thread comment.
      tags:
      - Docs
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: docs_comment_resolve
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: docs_comment_resolve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                doc_path:
                  type: string
                  description: Path to the document.
                note_token:
                  type: string
                  description: Token of the comment or reply to resolve.
              required:
              - doc_path
              - note_token
  "/api/agents/v1/docs/comments/search":
    get:
      operationId: docs_comments_search
      summary: Docs comments search
      description: Search comments on a documentation file by text. Matches comment
        body and inline selected-text anchors, with optional author filtering.
      tags:
      - Docs
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentsApiEnvelope"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '429':
          "$ref": "#/components/responses/RateLimited"
      x-rails-controller: api/agents
      x-rails-action: docs_comments_search
      x-generated-from: Api::AgentsMcpController::TOOL_DEFINITIONS
      x-mcp-tool-name: docs_comments_search
      parameters:
      - name: doc_path
        in: query
        required: true
        schema:
          type: string
        description: Path to the document (e.g. "docs/aitfund/q2-2026-draft-v2.html"
          or "aitfund/q2-2026-draft-v2.html").
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: Text to search for in comment content or inline selected text.
      - name: author_client_token
        in: query
        required: false
        schema:
          type: string
        description: 'Optional: only search comments authored by this client token.'
      - name: client_token
        in: query
        required: false
        schema:
          type: string
        description: Alias for author_client_token.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
        description: Max comments to return (default 100, max 200).
  "/api/agents/v1/docs/delete":
    post:
      operationId: docs_delete
[...]
